.fw-menu-card-list {
  &__heading {
    font-size: 22px;
    font-weight: 700;
    color: #2e3333;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: #585c5c;
  }

  &__mat-card {
    margin-bottom: 15px;
  }

  &__card-heading {
    color: #2e3333;
    font-size: 16px;
    font-weight: 600;
  }

  &__star-img {
    width: 16px;
    margin-right: 5px;
    filter: invert(37%) sepia(165%) saturate(23) hue-rotate(-230deg)
      brightness(80%) contrast(275%);
  }

  &__popular-text {
    color: #4d7c1b;
    font-size: 14px;
    font-weight: 400;
  }

  &__card-description {
    color: #585c5c;
    font-size: 14px;
    font-weight: 400;
  }

  &__price-details {
    display: block;
  }

  &__red-text {
    color: #cc3a2f;
    font-size: 16px;
    font-weight: 400;
  }

  &__black-line-text {
    color: #585c5c;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
  }

  &__img {
    width: 98px;
  }

  &__add-button {
    width: 40px;
    height: 100px;
  }

  &__button-img {
    width: 10px;
    height: 10px;
  }
}
