<div class="container p-5" *ngIf="showLogin">
  <div class="row d-flex justify-content-center">
    <div
      class="col-12 col-md-5 d-flex justify-content-center flex-column align-item-center"
    >
      <h1 class="fw-login__h1">Sign up or log in</h1>
      <button mat-button class="fw-login__button--blue">
        <img src="assets\svg\facebook-icon.svg" alt="Facebook" height="24px" />
        Continue with Facebook
      </button>
      <button mat-button class="fw-login__button--white">
        <img
          src="assets\svg\google-color-icon.svg"
          alt="Google"
          height="19px"
        />
        Continue with Google
      </button>
      <button mat-button class="fw-login__button--black">
        <img src="assets\svg\apple-icon.svg" alt="Apple" height="24px" />
        Continue with Apple
      </button>
      <p class="fw-login__line">or</p>
      <button mat-button class="fw-login__button--red" (click)="onLoadSignin()">
        <img src="assets\svg\email-icon.svg" alt="Email" height="24px" /><a
          href=""
        ></a>
        Continue with email
      </button>
      <p class="fw-login__text">
        By continuing you agree to our <a href="">T&Cs</a>. Please also check
        out our <a href="">Privacy Policy</a>. We use your data to offer you a
        personalised experience and to better understand and improve our
        services. <a href="">For more information see here</a>.
      </p>
    </div>
  </div>
</div>
<div class="container p-5" *ngIf="!showLogin">
  <div class="row d-flex justify-content-center">
    <div
      class="col-12 col-md-5 justify-content-center flex-column align-item-center"
    >
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <h1 class="row fw-login__h1">Sign up or log in</h1>
        <div class="row fw-login__inputfield" *ngIf="showEmailField">
          <p class="row">Email address</p>
          <div class="row">
            <mat-form-field appearance="outline" class="fw-login__input-field">
              <input
                matInput
                placeholder="e.g.name@example.com"
                type="email"
                name="email"
                required
                [formControl]="email"
              />
              <mat-error *ngIf="email.hasError('required')"
                >Email field is required</mat-error
              >
              <mat-error *ngIf="email.hasError('email')"
                >Enter a valid email</mat-error
              >
            </mat-form-field>
          </div>

          <div class="row">
            <button
              mat-button
              type="submit"
              class="fw-login__continue"
              [disabled]="form.invalid"
              (click)="onContinue()"
            >
              Continue
            </button>
          </div>
          <div class="row">
            <button mat-button class="fw-login fw-login__forgot">
              Forgot password
            </button>
          </div>
          <div class="row">
            <button
              mat-button
              class="fw-login__continue"
              (click)="loadSigninPage()"
            >
              Signin
            </button>
          </div>
        </div>
        <div class="row" *ngIf="!showEmailField">
          <p class="row">Password</p>
          <div class="row">
            <mat-form-field appearance="outline" class="fw-login__input-field">
              <input
                matInput
                placeholder="Enter a password"
                type="password"
                name="password"
                required
                [formControl]="password"
              />
              <mat-error *ngIf="password.hasError('required')"
                >Password field is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="row">
            <button
              mat-button
              type="submit"
              class="fw-login__continue"
              [disabled]="form.invalid"
              (click)="loginUser()"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
