.dc-home {
  padding: 64px 16px 104px;

  &__background-color {
    background-color: rgb(0, 0, 0);
  }

  &__landingh1 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: 900;
    padding-bottom: 32px;
  }

  &__searchbar-text {
    padding-bottom: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }

  &__searchbar {
    display: flex;
  }

  &__nav-svg-btn {
    border: none;
  }

  &__searchbtn {
    background-color: #00ccbc;
    color: #fff;
    border-radius: 100px;
  }

  &__lpgrow {
    text-align: center;
  }

  &__login-white-text {
    color: #fff;
  }

  &__logintext {
    color: #00ccbc;
    text-decoration: none;
  }

  &__tocheading {
    font-family: tratos, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #2e3333;
  }

  &__tocpara {
    font-size: 20px;
    margin-top: 16px;
  }
  // discount section
  &__discount-area {
    flex-direction: column;
    text-align: center;
    background-color: #278490;
    color: #fff;
  }

  &__discount-heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    margin-block: 25px;
  }

  &__discount-para1 {
    font-size: 18px;
  }

  &__discount-para2 {
    font-size: 14px;
    margin-bottom: 25px;
  }

  &__card-heading {
    font-family: stratos, sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
  }

  &__card-paragraph {
    font-size: 18px;
    color: #fff;
  }

  &__card-button {
    background-color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  //..search bar
  &__search-bar {
    display: flex;
    justify-content: center;
  }

  &__searchbar-bg {
    background-color: white;
    border-radius: 58px;
    width: 88%;
    height: 67px;
    display: flex;
    margin-bottom: 15px;
  }

  &__searchbar-svg {
    margin-top: 9px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    margin-top: 23px;
  }

  &__search-input {
    margin-left: 10px;
    height: 100%;
    width: 79%;
    border: none;
    margin-right: 10px;
  }

  &__search-btn {
    margin-top: 5px;
    margin-right: 5px;
  }

  &__search-btn {
    background-color: #00ccbc;
    font-weight: 900;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 16px 40px;
    min-height: 56px;
  }
  //..cards

  &__card {
    padding: 16px;
  }

  &__card-row {
    margin-bottom: 10px;
  }

  &__mat-card01 {
    background-image: url("https://orderbox.app/assets/images/restaurant.png");
    background-size: cover;
    border-radius: 10px;
    height: 480px;
  }

  &__mat-card02 {
    background-image: url("https://orderbox.app/assets/images/rider.png");
    background-size: cover;
    border-radius: 10px;
    height: 480px;
  }

  &__mat-card03 {
    background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudCUyMGZvb2R8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-size: cover;
    border-radius: 10px;
    height: 480px;
  }

  &__mat-card04 {
    background-image: url("https://static.kinguin.net/cdn-cgi/image/w=750,q=80,fit=scale-down,f=auto/media/images/products/_deliveroo-giftcardhero.png");
    background-size: cover;
    border-radius: 10px;
    height: 480px;
  }

  &__card-button {
    height: 52px;
    width: 162px;
  }

  &__matcard-body {
    margin: 0 148px 24px 24px;
    position: absolute;
    bottom: 10px;
  }

  &__matcard-heading {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
  }

  &__matcard-paragraph {
    font-size: 18px;
    color: #fff;
  }
}
