.dc {
  padding: 64px 16px 104px;

  &__background-color {
    background-color: rgb(0, 0, 0);
  }

  &__landingh1 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: 900;
    padding-bottom: 32px;
  }

  &__searchbar-text {
    padding-bottom: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }

  &__searchbar {
    display: flex;
  }

  &__nav-svg-btn {
    border: none;
  }

  &__searchbtn {
    background-color: #00ccbc;
    color: #fff;
    border-radius: 100px;
  }

  &__lpgrow {
    text-align: center;
  }

  &__login-white-text {
    color: #fff;
  }

  &__logintext {
    color: #00ccbc;
    text-decoration: none;
  }

  &__location-search {
    border-radius: 100px;
  }

  &__input {
    width: fit-content;
    padding-right: 83px;
  }

  &__home-card {
    display: table;
  }

  &__track-order {
    justify-content: space-between;
  }

  &d__toc {
    padding-top: 24px;
    margin: 8px 32px;
  }

  &__tocheading {
    font-family: tratos, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #2e3333;
  }

  &__tocpara {
    font-size: 20px;
    margin-top: 16px;
  }

  &__discount-area {
    padding: 90px;
    flex-direction: column;
    text-align: center;
    background-color: #00ccbc;
    color: #fff;
  }

  &__discount-heading {
    font-family: stratos !important;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
  }

  &__discount-para1 {
    font-size: 18px;
  }

  &__discount-para2 {
    font-size: 14px;
  }

  &__card-row1 {
    float: left;
    width: 50%;
    padding: 0 10px;
  }

  &__card-partner {
    background-image: url("https://images.unsplash.com/photo-1581349485608-9469926a8e5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80");
    background-size: cover;
    height: 480px;
    width: 100%;
    margin-top: 20px;
  }

  &__card-rider {
    background-image: url("https://images.unsplash.com/photo-1567961258941-911aa712744f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
    height: 480px;
    width: 100%;
    margin-top: 20px;
  }

  &__card-food {
    background-image: url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80");
    background-size: cover;
    height: 480px;
    width: 100%;
    margin-top: 20px;
  }

  &__card-voucher {
    background-image: url("https://images.unsplash.com/photo-1526614180703-827d23e7c8f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
    background-size: cover;
    height: 480px;
    width: 100%;
    margin-top: 20px;
  }

  &__card-heading {
    font-family: stratos, sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
  }

  &__card-paragraph {
    font-size: 18px;
    color: #fff;
  }

  &__card-button {
    background-color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
}
