.fw-menu {
  &__heading {
    font-weight: bold;
  }

  &__back {
    text-decoration: none;
    color: #ba2222;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  &__arrow-back {
    width: 38px;
    padding-right: 10px;
    filter: invert(46%) sepia(27%) saturate(13) hue-rotate(-60deg)
      brightness(80%) contrast(275%);
  }

  &__main-img {
    width: 100%;
    border-radius: 10px;
  }

  &__info-button {
    background-color: transparent;
    border: none;
    padding-top: 16px;
  }

  &__info-img {
    width: 24px;
    margin-right: 14px;
  }

  &__star-img {
    width: 24px;
    margin-right: 14px;
    filter: invert(37%) sepia(165%) saturate(23) hue-rotate(-230deg)
      brightness(80%) contrast(275%);
  }

  &__next-icon {
    width: 28px;
    margin-left: 14px;
    filter: invert(46%) sepia(27%) saturate(13) hue-rotate(-60deg)
      brightness(80%) contrast(275%);
  }

  &__text1 {
    display: flex;
    font-size: 16px;
  }

  &__text2 {
    display: flex;
    font-size: 14px;
  }

  &__review-button {
    background-color: transparent;
    border: none;
    padding-top: 16px;
  }

  &__deliver {
    text-decoration: none;
    margin-bottom: 15px;
  }

  &__deliver-icon {
    width: 26px;
    margin-right: 12px;
  }

  &__location-text {
    color: #ccaa2f;
    margin-right: 10px;
  }

  &__change-text {
    color: #ba2222;
  }

  &__group-order-btn {
    background-color: #fff;
    margin-bottom: 15px;
  }

  &__group-img {
    width: 26px;
    padding-right: 8px;
    filter: invert(46%) sepia(27%) saturate(13) hue-rotate(-60deg)
      brightness(80%) contrast(275%);
  }

  &__horizontal-bar {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    display: grid;
    box-shadow: 0 1px 3px;
    position: sticky;
    top: 87px;
    padding: 20px;
    font-size: 20px;
  }
}
