<div class="fw-menu">
  <div class="container">
    <div class="row">
      <a href="" class="fw-menu__back"
        ><img
          src="assets\images\menu-page\arrow-back.svg"
          alt="arrow"
          class="fw-menu__arrow-back"
        />Back</a
      >
    </div>
    <div class="row">
      <div class="d-flex col-xl-4 col-md-4">
        <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
        <img
          src="{{ restaurants.image }}"
          alt="menu"
          class="fw-menu__main-img"
        />
      </div>
      <div class="d-flex col-xl-8 col-md-8">
        <div class="row">
          <div class="col-xl-7">
            <h1 class="fw-menu__heading">
              {{ restaurants.name }}
            </h1>
            <div>
              <span>{{ restaurants.tag[0] }} </span>
              <span>.{{ restaurants.tag[1] }} </span>
              <span>.{{ restaurants.tag[2] }}</span>
            </div>
            <div>
              <span class="col">Opens at {{ restaurants.closeAt }} </span>
              <span class="col">·${{ restaurants.minimum }} minimum</span>
              <span class="col">
                ·${{ restaurants.deliveryCharge }} delivery</span
              >
            </div>
            <div>
              <button class="fw-menu__info-button">
                <div>
                  <div class="d-flex">
                    <img
                      src="assets\images\menu-page\information.svg"
                      alt="information-svg"
                      class="fw-menu__info-img"
                    />
                    <div>
                      <span class="fw-menu__text1">Info</span>
                      <span class="fw-menu__text2">Allergens and more</span>
                    </div>
                    <img
                      src="assets\images\menu-page\arrow-next.svg"
                      alt="arrow"
                      class="fw-menu__next-icon"
                    />
                  </div>
                </div>
              </button>
            </div>
            <div>
              <button class="fw-menu__review-button">
                <div>
                  <div class="d-flex">
                    <img
                      src="assets\images\menu-page\star.svg"
                      alt="information-svg"
                      class="fw-menu__star-img"
                    />
                    <div>
                      <span class="fw-menu__text1">4.3 Very good</span>
                      <span class="fw-menu__text2">See all 500 reviews</span>
                    </div>
                    <img
                      src="assets\images\menu-page\arrow-next.svg"
                      alt="arrow"
                      class="fw-menu__next-icon"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="col-xl-5">
            <div class="row d-flex">
              <a href="" class="fw-menu__deliver">
                <img
                  src="assets\images\menu-page\fast-food-delivery.svg"
                  alt="delivery-icon"
                  class="fw-menu__deliver-icon"
                />
                <span class="fw-menu__location-text">No location selected</span>
                <span class="fw-menu__change-text">Change</span>
              </a>
              <button
                mat-stroked-button
                class="d-none d-sm-block fw-menu__group-order-btn"
              >
                <img
                  src="assets\images\menu-page\group.svg"
                  alt="group-svg"
                  class="fw-menu__group-img"
                />Start group order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="fw-menu__horizontal-bar">
    <app-dish-category-bar></app-dish-category-bar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-8"><app-restaurant-menu></app-restaurant-menu></div>
      <div class="col-xl-4 d-none d-xl-block"><app-basket></app-basket></div>
    </div>
  </div>
</div>
