<mat-drawer-container class="fw-nav__container" autosize>
  <app-header (sidenav)="drawer.toggle()"></app-header>
  <mat-drawer
    #drawer
    class="sidenav fw-nav__sidebar"
    mode="over"
    position="end"
  >
    <div class="container fw-nav fw-nav__sidenav">
      <div class="row">
        <div class="col fw-nav__nav-icons">
          <a href="">
            <img
              src="assets/svg/foodie logo - no background.svg"
              alt="foodie-logo"
              height="32px"
            />
          </a>
          <button mat-button (click)="drawer.toggle()">
            <a>
              <img
                src="assets\svg\x-icon.svg"
                alt="X"
                class="fw-nav__close-img"
              />
            </a>
          </button>
        </div>
      </div>
      <hr />
      <div class="container fw-nav__sidnavbtn" style="display: grid">
        <button mat-button class="fw-nav__signup">
          <a class="fw-nav__navtext" routerLink="auth/login"
            >Sign up or log in</a
          >
        </button>
      </div>
      <div class="container" style="padding-bottom: 186px">
        <a class="d-md-none fw-nav__faqs" href=""
          ><img
            src="assets\svg\nav-svgs\bicycle.svg"
            alt="question-mark-icon"
            height="24"
            width="24"
          />
          <span class="fw-nav__faqs-text"><p>Become a Rider</p></span></a
        >
        <a class="d-md-none fw-nav__faqs" href=""
          ><img
            src="assets\svg\nav-svgs\eat.svg"
            alt="eat"
            height="24"
            width="24"
          />
          <span class="fw-nav__faqs-text"><p>Add your restaurant</p></span></a
        >
        <a class="d-md-none fw-nav__faqs" href=""
          ><img
            src="assets\svg\nav-svgs\office-building.svg"
            alt="question-mark-icon"
            height="24"
            width="24"
          />
          <span class="d-md-none fw-nav__faqs-text"
            ><p>Sign up your office</p></span
          ></a
        >
        <a class="fw-nav__faqs" href=""
          ><img
            src="assets\svg\nav-svgs\question-mark-icon.svg"
            alt="question-mark-icon"
            height="24"
            width="24"
          />
          <span class="fw-nav__faqs-text"><p>FAQs</p></span></a
        >
      </div>
      <div class="container fw-nav__lables">
        <div class="row">
          <mat-form-field appearance="outline">
            <select matNativeControl required class="fw-nav__language">
              <option *ngFor="let language of languages" value="language.value">
                {{ language.name }}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="row fw-nav__countries">
          <mat-form-field appearance="outline">
            <select matNativeControl required>
              <option *ngFor="let country of countries" value="country.value">
                {{ country.name }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content"></div>
</mat-drawer-container>
