<div class="row">
  <h1 class="fw-menu-card-list__heading">Premium Edition Set !</h1>
</div>
<div class="row">
  <p class="fw-menu-card-list__text">Premium Edition Set !</p>
</div>
<div class="row">
  <div class="col-xl">
    <div class="fw-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="fw-menu-card-list__card-heading">
                Superior Cod Fish Set
              </span>
              <br />
              <span class="fw-menu-card-list__card-description">
                Featuring succulent slice cod fish tossed in dark soya sauce,
                perfectly paired with our porridge
              </span>
              <div class="row">
                <div class="fw-menu-card-list__price-details">
                  <span class="fw-menu-card-list__black-text"> $27.40</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/711a259f-3f1c-4153-be4f-27527fd80798/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="fw-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="fw-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="fw-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="fw-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="fw-menu-card-list__card-heading">
                Best Selling Frog's Meat Set
              </span>
              <br />
              <span class="fw-menu-card-list__card-description">
                Time to spice up your taste buds with our best selling Ginger
                Scallion or Gong Bao Frog Meat
              </span>
              <div class="row">
                <div class="fw-menu-card-list__price-details">
                  <span class="fw-menu-card-list__black-text"> $27.40 </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/8cec1e0d-5051-457e-be53-65a12d914709/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop&quot"
                alt="dish"
                class="fw-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="fw-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="fw-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
