.example-container {
  height: 100;
  flex-direction: column;
}

.dc {

  &__signup {
    margin-top: 10px;
    background-color: #00ccbc;
    min-height: 48px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__navtext {
    color: #fff !important;
    text-decoration: none;
  }

  &__faqs {
    display: flex;
    color: #2e3333;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  &__sidebar {
    width: 375px;
    position: fixed;
  }

  &__nav-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
  }

  &__faqs-text {
    padding-left: 16px;
  }

  &__faqs-text:hover {
    color: #00ccbc;
  }

  &__lables{
    align-items: end;
  }

  &__sidenav {
    padding-top: 16px;
  }

  // &__language {
  //   background-color: transparent !important;
  // }
}

