<mat-drawer-container class="example-container" autosize>
  <app-header (sidenav)="sidenav.toggle()"></app-header>
  <mat-drawer #drawer class="sidenav" mode="over" position="end">
    <div class="dc dc__sidenav">
      <div class="row">
        <img
          src="assets\svg\deliveroo-logo.svg"
          alt="deliveroo-logo"
          height="32px"
        />
      </div>
      <div class="dc__sidnavbtn" style="display: grid">
        <button mat-button class="dc__signup">
          <a class="dc__navtext" href="">Sign up or log in</a>
        </button>
        <button mat-button>
          <a class="dc__faqtext" href="">FAQs</a>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
