<header *ngIf="!isMenuPage">
  <div class="container fw-header">
    <div class="row">
      <div class="d-flex fw-header__flex">
        <a routerLink="/" class="fw-header__foodie-logo"
          ><img
            src="assets/svg/foodie logo - no background.svg"
            alt="foodie-logo"
            style="width: 144px; height: 49px"
        /></a>
        <div class="d-flex fw-header__flex">
          <div style="padding-right: 4px">
            <button
              mat-stroked-button
              [matMenuTriggerFor]="menu"
              class="d-none d-md-block fw-header__button"
              *ngIf="isHomePage"
            >
              <img
                src="assets\svg\header\drop-down.svg"
                alt="drop-down"
                class="fw-header__drop-down"
              />
              Partner with us
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <img
                  src="assets\svg\header\dropdown\bicycle.svg"
                  alt="question-mark-icon"
                  class="fw-header__drop-down-imgs"
                />
                Riders
              </button>
              <button mat-menu-item>
                <img
                  src="assets\svg\header\dropdown\restaurant.svg"
                  alt="restaurant"
                  class="fw-header__drop-down-imgs"
                />
                Restaurant
              </button>
              <button mat-menu-item>
                <img
                  src="assets\svg\header\dropdown\briefcase.svg"
                  alt="question-mark-icon"
                  class="fw-header__drop-down-imgs"
                />
                Careers
              </button>
              <button mat-menu-item>
                <img
                  src="assets\svg\header\dropdown\shop.svg"
                  alt="question-mark-icon"
                  class="fw-header__drop-down-imgs"
                />
                Deliveroo for Work
              </button>
            </mat-menu>
          </div>

          <div style="padding: 0px 4px 0px 4px">
            <button
              mat-stroked-button
              class="d-none d-sm-block fw-header__button"
              (click)="onLoadLogin()"
            >
              <img
                src="assets\svg\home.svg"
                alt="signup"
                class="fw-header__signup-img"
              />
              Signup or login
            </button>
          </div>
          <div style="padding-left: 4px">
            <button
              mat-stroked-button
              class="fw-header__button"
              (click)="toggle()"
              style="margin-bottom: 3px"
            >
              <img
                src="assets\svg\menu.svg"
                alt="menu"
                class="fw-header__menu-img"
              />
              Menu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</header>

<!-- This header only works in the menu route -->
<div class="fixed-header">
  <header *ngIf="isMenuPage">
    <div class="container">
      <div class="row fw-header">
        <div class="col-sm col-md-2">
          <a routerLink="/"
            ><img
              src="assets/svg/foodie logo - no background.svg"
              alt="foodie-logo"
              class="fw-header__menu-header-logo"
              style="width: 144px; height: 49px"
          /></a>
        </div>
        <div class="col-sm col-md-8">
          <div class="row" style="margin-top: 10px">
            <img
              src="assets/svg/header/search.svg"
              alt="search-icon"
              class="fw-header__search-img"
            />
            <input
              class="fw-header__search-bar"
              matInput
              placeholder="Search"
            />
          </div>
        </div>
        <div class="col-sm col-md-2">
          <div class="fw-header__flex">
            <div class="fw-header__menu-button">
              <button
                mat-stroked-button
                class="fw-header__button"
                (click)="toggle()"
                style="margin-bottom: 3px"
              >
                <img
                  src="assets\svg\menu.svg"
                  alt="menu"
                  class="fw-header__menu-img"
                />
                Menu
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
  </header>
</div>
