.dc-header {
  justify-content: space-between;
  padding-top: 14px;

  &__search-bar {
    width: 490px;
    padding: 8px 16px 8px 40px;
  }

  &__row {
    flex-wrap: nowrap;
  }

  &__flex {
    justify-content: space-between;
  }

  &__button {
    background-color: #fff;
  }
}
