.dc-header {
  justify-content: space-between;

  &__search-bar {
    max-width: 100%;
    padding: 8px 16px 8px 40px;
  }

  &__search-img {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 22px;
  }

  &__row {
    flex-wrap: nowrap;
  }

  &__flex {
    justify-content: space-between;
  }

  &__menu-button {
    margin-top: 10px;
    padding-left: 4px;
  }

  &__button {
    background-color: #fff;
  }
}
