.fw-header {
  justify-content: space-between;

  &__search-bar {
    max-width: 100%;
    padding: 8px 16px 8px 40px;
  }

  &__search-img {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 22px;
  }

  &__row {
    flex-wrap: nowrap;
  }

  &__flex {
    justify-content: space-between;
    margin-top: 10px;
  }

  &__drop-down {
    height: 15px;
    width: 15px;
    filter: invert(75%) sepia(100%) saturate(163.5);
  }

  &__drop-down-imgs {
    height: 24px;
    width: 24px;
    filter: invert(75%) sepia(100%) saturate(163.5);
  }

  &__signup-img {
    height: 17px;
    width: 17px;
    margin-bottom: 3px;
    filter: invert(75%) sepia(100%) saturate(163.5);
  }

  &__menu-img {
    height: 15px;
    width: 15px;
    margin-bottom: 3px;
    filter: invert(75%) sepia(100%) saturate(163.5);
  }

  &__menu-button {
    margin-top: 10px;
    padding-left: 4px;
  }

  &__button {
    background-color: #fff;
  }

  &__menu-header-logo {
    width: 144px;
    height: 49px;
    margin-top: 5px;
  }
}
