<div class="row">
  <h1 class="dc-menu-card-list__heading">#Double Delight Meal</h1>
</div>
<div class="row">
  <p class="dc-menu-card-list__text">#Double Delight Meal</p>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                Premium Abalone Duo Set
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Experience a luxurious treat with our Abalone Duo Set. Choose
                any 2 Abalone mains
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__red-text"> $26.90 </span>
                  <span class="dc-menu-card-list__black-line-text">$44.84</span>
                  <span class="dc-menu-card-list__red-text">. 40% off</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/5884063b-a9ec-41d6-9b58-d6a0f9e5a5a9/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">Savers Set B</span
              ><br />
              <span class="dc-menu-card-list__card-description">
                Perfect combination for a flavor-packed meal. Try it today
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__red-text"> $24.90 </span>
                  <span class="dc-menu-card-list__black-line-text">$41.50</span>
                  <span class="dc-menu-card-list__red-text">. 40% off</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/84c72972-3c33-4179-93f1-0965531bf76b/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">Savers Set A</span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Indulge in the ultimate combination of our porridge & fried rice
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__red-text"> $24.90 </span>
                  <span class="dc-menu-card-list__black-line-text">$41.50</span>
                  <span class="dc-menu-card-list__red-text">. 40% off</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/d26aa24c-1268-4724-90fb-722ce5593153/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card"></div>
  </div>
</div>
