<div class="container p-5">
  <div class="row d-flex justify-content-center">
    <div
      class="col-12 col-md-5 d-flex justify-content-center flex-column align-item-center"
    >
      <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
        <h1 class="row fw-signup__h1">User Registration</h1>
        <div class="fw-signup__inputfield">
          <p class="row">First Name</p>
          <div class="row">
            <mat-form-field appearance="outline" class="fw-signup__input-field">
              <input
                matInput
                type="text"
                placeholder="e.g.John"
                name="firstName"
                required
                formControlName="firstName"
              />
              <mat-error
                *ngIf="userRegisterForm.controls.firstName.hasError('required')"
                >First Name field is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Last Name</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="text"
                  placeholder="e.g.Smith"
                  name="lastName"
                  required
                  formControlName="lastName"
                />
                <mat-error
                  *ngIf="
                    userRegisterForm.controls.lastName.hasError('required')
                  "
                  >Last Name field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Username</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="text"
                  placeholder="e.g.JohnSmith0123"
                  name="username"
                  required
                  formControlName="username"
                />
                <mat-error
                  *ngIf="
                    userRegisterForm.controls.username.hasError('required')
                  "
                  >Username field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Address</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="text"
                  placeholder="No 5A, 3rd lane, Pita Kotte, Sri Lanka"
                  name="address"
                  required
                  formControlName="address"
                />
                <mat-error
                  *ngIf="userRegisterForm.controls.address.hasError('required')"
                  >Address field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Contact No</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="text"
                  placeholder="94775775775"
                  name="contact"
                  required
                  formControlName="contact"
                />
                <mat-error
                  *ngIf="userRegisterForm.controls.contact.hasError('required')"
                  >Contact number field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Email</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="email"
                  placeholder="e.g.john.smith@gmail.com"
                  name="email"
                  required
                  formControlName="email"
                />
                <mat-error
                  *ngIf="userRegisterForm.controls.email.hasError('required')"
                  >Email field is required</mat-error
                >
                <mat-error
                  *ngIf="userRegisterForm.controls.email.hasError('email')"
                  >Enter a valid email</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="fw-signup__input-field">
            <p class="row">Password</p>
            <div class="row">
              <mat-form-field
                appearance="outline"
                class="fw-signup__input-field"
              >
                <input
                  matInput
                  type="password"
                  placeholder="password"
                  name="password"
                  required
                  formControlName="password"
                />
                <mat-error
                  *ngIf="
                    userRegisterForm.controls.password.hasError('required')
                  "
                  >Password field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <button
            mat-button
            type="submit"
            class="fw-signup fw-signup__continue"
          >
            Signin
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
