<div class="row">
  <h1 class="dc-menu-card-list__heading">
    Fried Rice & Claypot Rice 石锅炒饭和煲仔饭
  </h1>
</div>
<div class="row">
  <p class="dc-menu-card-list__text">
    Fried Rice & Claypot Rice 石锅炒饭和煲仔饭
  </p>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                Sesame Oil Chicken Claypot Rice 麻油鸡丁锅巴饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Flavourful Sesame Oil Chicken paired with mildly charred
                scorched rice
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $14.90</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/f7b8d9e0-b976-4ee3-83e4-6fbb3e95e4f3/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                600 Gong Bao Chicken Scorched Rice 宫保鸡丁锅巴饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Claypot rice topped with succulent Gong Bao chicken cubes
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $14.90 </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/9780432c-e875-4a78-82fa-d984e8474164/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                601 Claypot Rice w Mushroom & Chic 香菇鸡粒煲仔饭
              </span>
              br
              <span class="dc-menu-card-list__card-description">
                Claypot rice topped with succulent chicken cubes and mushroom
                for that extra flavour
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $14.90</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/735dfdc3-8849-4287-ba41-f818f999d313/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                608 Mushroom & Minced Meat Scorched Rice 香菇肉碎锅巴饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Claypot rice topped with fragrant mushroom minced meat
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $14.90 </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/e3329136-efdb-42ba-9180-f92be079ef56/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                Pork Cutlet Egg Fried Rice 猪扒蛋炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Crispy fried pork cutlet with fragrant egg fried rice
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $16.90</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/2e58d533-28c4-47a4-90c9-9e9081f89fb1/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                Olive Fried Rice 橄榄炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Savoury olives leaves tossed over high heat with Egg Fried Rice
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $15.90 </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/79ce3568-d14b-495d-bfc0-65c6886a3db7/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                931 Shrimp XO Fried Rice 虾仁XO炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Shrimp fried rice fried with xo sauce for an extra umami
                flavour! The mild spiciness makes it a universal favourite for
                many.
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $15.90</span>
                  <span class="dc-menu-card-list__popular-text"> Popular</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/89415f95-a11f-429c-b0a5-2606c1dddd80/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                932 Prawn Fried Rice with Chai Po 菜圃虾仁肉碎炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Shrimp fried rice fried with minced meat and garnished with chai
                po!
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text">$15.90</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/64a8ffe5-334b-41db-89da-90be6c22e221/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                901 Yang Zhou Fried Rice 扬州炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Fried with "Char Siew" bites and assorted vegetables, this dish
                holds a special place in the heart of singaporeans
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $15.90</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/63e21ac9-14c6-4c75-a930-0034442bc1c9/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                921 Shrimp Fried Rice with Scallop 虾仁带子炒饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Shrimp fried rice fried with sweet scallops for that extra sweet
                flavour
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $15.90 </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/0d9f1195-dfef-4357-aef8-b15032aa7a4f/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card">
      <mat-card style="z-index: -1">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <span class="dc-menu-card-list__card-heading">
                P2 Plain Rice 白饭
              </span>
              <br />
              <span class="dc-menu-card-list__card-description">
                Fragrant jasmine white rice
              </span>
              <div class="row">
                <div class="dc-menu-card-list__price-details">
                  <span class="dc-menu-card-list__black-text"> $1.60</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <img
                src="https://rs-menus-api.roocdn.com/images/60cdedc9-22a8-4a94-b3bf-285c3e6d2d40/image.jpeg?width=98&height=98&auto=webp&format=jpg&fit=crop"
                alt="dish"
                class="dc-menu-card-list__img"
              />
            </div>
            <div class="col-2">
              <button mat-stroked-button class="dc-menu-card-list__add-button">
                <img
                  src="assets/images/menu-page/plus-symbol.svg"
                  alt="add-icon"
                  class="dc-menu-card-list__button-img"
                />
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xl">
    <div class="dc-menu-card-list__mat-card"></div>
  </div>
</div>
