<div class="fw-menu-basket">
  <div class="row d-flex">
    <mat-card>
      <mat-card-content>
        <div>
          <img
            src="assets/images/menu-page/mall-basket-svgrepo-com.svg"
            alt="basket"
            class="fw-menu-basket__basket-img"
          />
          <p class="fw-menu-basket__basket-description">Your basket is empty</p>
        </div>
        <div class="row d-flex">
          <button mat-raised-button disabled="">Go to checkout</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
