.dc {
  &__footer {
    background-color: #2e3333;
  }

  &__card {
    background-color: #444444;
    padding: 16px;
    list-style: none;
    border-radius: 3px;

  }

  &__text {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    padding-top: 24px;
    text-decoration: none;
  }
  &__text:hover {
    color: aqua;
  }

  &__list {
    list-style: none;
    padding: 0;
    list-style-type: none;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__para {
    color: #fff;
  }

  &__smi {
    list-style: none;
  }

  &__img {
    fill: aliceblue;
  }

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  font-size: 14px;
  color: #585c5c;;
}
