.dc {
    background-color: #2e3333;

  // &__text {
  //   text-decoration-color: aliceblue;
  // }

}

.flex-container {
  align-items: stretch;
}
.row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.background-color-footer {
  background-color: #2e3333;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  padding: 0 24px;
  padding-bottom: 20;
  text-align: start;
  font-family: plex-sans,sans-serif;
  background-color: #444444;
  margin-bottom: 16px;

  // &__text{
  //   font-size: 18px;
  //   line-height: 24px;
  //   font-weight: 700;
  //   color: aliceblue;
  // }
}
h3 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding-top: 24px;
  }

a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 3;
  -webkit-font-smoothing: subpixel-antialiased;
}


p {
  text-align: end;
}
.d-flex {
  padding: 25px;
}
