<footer class="dc__footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3" style="padding-top: 20px">
        <div class="dc__card h-100">
          <h3 class="dc__title">Discover Deliveroo</h3>
          <ul class="dc__list">
            <li>
              <a href="#!" class="dc__text">Investors</a>
            </li>
            <li>
              <a href="#!" class="dc__text">About us</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Takeaway</a>
            </li>
            <li>
              <a href="#!" class="dc__text">More</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Newsroom</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Engineering blog</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Design blog</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Gift Cards</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Careers</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Restaurant signup</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Become a rider</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Deliveroo Talent Directory</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="padding-top: 20px">
        <div class="dc__card h-100">
          <h3 class="dc__title">Legal</h3>
          <ul class="dc__list">
            <li>
              <a href="#!" class="dc__text">Terms and conditions</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Privacy</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Cookies</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Modern Slavery Statement</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Tax Strategy</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Section 172 Statement</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="padding-top: 20px">
        <div class="dc__card h-100">
          <h3 class="dc__title">Help</h3>
          <ul class="dc__list">
            <li>
              <a href="#!" class="dc__text">Contact</a>
            </li>
            <li>
              <a href="#!" class="dc__text">FAQs</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Cuisines</a>
            </li>
            <li>
              <a href="#!" class="dc__text">Brands</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="padding-top: 20px">
        <div class="dc__card h-100">
          <h3 class="dc__title">Take Deliveroo with you</h3>
          <ul class="dc__list">
            <li>
              <a
                href="https://apps.apple.com/us/app/deliveroo-food-delivery-app/id1001501844"
              >
                <img
                  src="assets\svg\app store.svg"
                  alt="AppStore"
                  height="40"
                />
              </a>
            </li>
            <br />
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=com.deliveroo.orderapp&hl=en&gl=US&pli=1"
              >
                <img
                  src="assets\svg\google play store.svg"
                  alt="google play store"
                  height="120"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content: space-between">
        <ul class="list-unstyled mb-0 list-group list-group-horizontal">
          <li style="padding-left: 2px">
            <a href="https://www.facebook.com/Deliveroo/">
              <img
                src="assets\svg\facebook-icon.svg"
                alt="facebook"
                height="24"
                width="24"
                class="change-my-color"
              />
            </a>
          </li>
          <li style="padding-left: 25px">
            <a
              href="https://twitter.com/i/flow/login?redirect_after_login=%2FDeliveroo%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor"
            >
              <img
                src="assets\svg\twitter-svgrepo-com.svg"
                alt="twitter"
                height="24"
                width="24"
                class="dc__img"
              />
            </a>
          </li>
          <li style="padding-left: 25px">
            <a href="https://www.instagram.com/deliveroo/?hl=en">
              <img
                src="assets\svg\instagram-svgrepo-com.svg"
                alt="instagram"
                height="24"
                width="24"
                class="dc__img"
              />
            </a>
          </li>
        </ul>
        <div class="d-flex justify-content: space-betwee">
          <p class="dc__para">© 2023 Deliveroo</p>
        </div>
      </div>
    </div>
  </div>
</footer>
