<div class="container p-5">
  <div class="row d-flex justify-content-center">
    <div
      class="col-12 col-md-5 d-flex justify-content-center flex-column align-item-center"
    >
      <h1 class="dc__h1">Sign up or log in</h1>
      <button mat-button class="dc__button--blue">
        <img src="assets\svg\facebook-icon.svg" alt="Facebook" height="24px" />
        Continue with Facebook
      </button>
      <button mat-button class="dc__button--white">
        <img
          src="assets\svg\google-color-icon.svg"
          alt="Google"
          height="19px"
        />
        Continue with Google
      </button>
      <button mat-button class="dc__button--black">
        <img src="assets\svg\apple-icon.svg" alt="Apple" height="24px" />
        Continue with Apple
      </button>
      <p class="dc__line">or</p>
      <button mat-button class="dc__button--green" (click)="onLoadSignin()">
        <img src="assets\svg\email-icon.svg" alt="Email" height="24px" /><a
          href=""
        ></a>
        Continue with email
      </button>
      <p class="dc__text">
        By continuing you agree to our <a href="">T&Cs</a>. Please also check
        out our <a href="">Privacy Policy</a>. We use your data to offer you a
        personalised experience and to better understand and improve our
        services. <a href="">For more information see here</a>.
      </p>
    </div>
  </div>
</div>
